name: Monitor Vagas Prenotami
on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install playwright requests
          playwright install chromium
          playwright install-deps

      - name: Run script
        env:
          PRENOTAMI_EMAIL: ${{ secrets.PRENOTAMI_EMAIL }}
          PRENOTAMI_PASSWORD: ${{ secrets.PRENOTAMI_PASSWORD }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python monitor_vagas.py

      - name: Upload Screenshot
        if: always() # Isso garante que o GitHub procure o print mesmo se der erro
        uses: actions/upload-artifact@v4
        with:
          name: evidencia-visual
          path: debug.png
